.inter-font-size {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared related style */
.btn {
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    border-radius: 1000px;
    border: none;
    cursor: pointer;
}

.btn-2 {
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    padding: 12px 20px;
    background: none;
    border: 1px solid #00FF88;
    border-radius: 10000px;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 75%;
    margin: 0 auto;
    /* border: 2px solid red;  */

}

.flex {
    display: flex;
    gap: 7px;
    margin-top: 20px;
}

/* navber and banner related style */
.navber-container {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-between;
}

.span {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.nav-ul {
    display: flex;
}

.nav-ul li {
    list-style: none;
    margin-right: 32px;

}

.nav-ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

.nav-title {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 800;
}

.btn-1 {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 11px;
}

header {
    padding-top: 36px;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    padding-top: 36px;
    background-color: #1A0B2E;
}

.btn-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 8px;
}

.box {
    position: relative;
}

.image-222 {
    top: -270px;
    background: none;
}

.banner-image .image-1,
.banner-image .image-222 {
    background-color: transparent;
    padding: 0;
}

.banner-image {
    position: relative;
    width: 350px;
    height: 350px;
    margin: auto;
    /* border: 1px solid red; */
}

.banner-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    text-align: center;
    background-image: url("../assets/hero-bg.png");
}

.banner-title {
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
}

.banner-description {
    color: #FFFFFF;
    margin-bottom: 24px;
    margin-top: 15px;
}

.banner-text-container {
    text-align: center;
    margin-top: 40px;
}

/* about section related */
.About-title {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
}

.bg-container {
    background-color: #1A0B2E;
}

.About-description {
    color: #FFFFFF;
}

.description {
    color: #FFFFFF;
    margin-bottom: 36px;
}

hr {
    margin-top: 80px;
    margin-bottom: 80px;
}

.about-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-card h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #00FF88;
}

.about-card p {
    color: #FFFFFF;
}

/* grid related */
.box-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    background-color: #35116564;
    padding: 25px;
    border-radius: 20px;
}

.box-1 {
    grid-row: span 2;
}

.box-2 {
    grid-column: span 2;
}

.grid-title {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.grid-container {
    padding-top: 120px;
}

.box h3 {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 7px;
}

.box p {
    color: #FFFFFF;
}

/* Featured style */


.feature-title {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.video-card-container {
    display: flex;
    gap: 30px;
}

.tik {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 15px;
}

.video-card {
    max-width: 380px;
    background-color: #250d44e0;
}

.video-card iframe {
    width: 100%;
    border-radius: 20px;
}

.featured-container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.logo-title {
    color: #00FF88;
}

.video-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 10px;

}

.video-card p {
    color: #FFFFFF;
}

/* Meet style */
.meet-title {
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.img-div {
    display: flex;
}

.alex-container {
    align-items: center;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 20px;
    gap: 24px;
}

.meet-container {
    padding-bottom: 120px;

}

.alex-title {
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
}

.alex-description {
    color: #FFFFFF;
    margin-bottom: 16px;

}

.icon-container {
    gap: 8px;
    align-items: center;
}


/* footer style */
footer {
    background-image: url("../assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 110px 0px;


}

.footer-icon {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.footer-title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 3.75rem;
    margin-bottom: 32px;
}

.footer-icon p {
    color: #FFFFFF;
    font-weight: 500;
}

.copy {
    color: #FFFFFF;
    margin-top: 35px;
}

.banner-image {
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
}

.new-badge {

    top: -500px;
    right: -120px;
    background: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 1000px;

}


.menu-icon {
    display: none;
}
/* Microphone floating animation */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}


@media screen and (max-width:576px) {

    .container,
    .navber-container {
        max-width: 100%;
        padding: 0px 20px;
    }


    .footer-icon {
        display: grid;
        gap: 2px;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 100px;
    }

    .footer-title {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 25px;
    }

    .footer-icon img {
        width: 40px;
        height: auto;
    }

    footer {
        padding: 30px 0px;
    }

    .meet-container {
        padding-bottom: 20px;
    }

    .meet-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .flex {
        flex-direction: column;
        margin-top: 20px;
    }

    .alex-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .icon-container {
        display: flex;
    }

    .img-div {
        justify-content: center;
    }

    .featured-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .feature-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .video-card-container {
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        /* padding: 0px 15px; */
    }

    .video-card {
        align-items: center;
    }

    .tik img {
        width: 32px;
        height: auto;
    }

    .video-card h3 {
        font-size: 1.25rem;
    }

    .grid-container {
        padding-top: 40px;
    }

    .grid-title {

        font-size: 2rem;
        margin-bottom: 16px;
    }

    .box-container {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 20px;
    }

    .box-1,
    .box-2,
    .box {
        grid-column: auto;
        grid-row: auto;
    }

    .About-title {
        font-size: 2rem;
        margin-bottom: 10px;

    }

    .description {
        margin-bottom: 25px;
    }

    hr {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .about-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        align-items: center;
    }
    .banner-container{
        padding: 40px 0px;
    }
    .banner-text-container{
        margin-top: 24px;
    }
    .banner-title{
        font-size: 2.75rem;
    }

    .navber-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .nav-title{
        font-size: 2rem;
    }

    .nav-ul,
    .btn-1 {
        display: none;
    }

    .menu-icon {
        display: block;
        width: 32px;
        height: auto;
        cursor: pointer;
    }
}